# Archivos de registro y depuración
*.log

# Caché y archivos compilados de Python
__pycache__/
*.pyc
*.pyo

# Entornos virtuales de Python
.venv/
venv/
env/

# Bases de datos locales o temporales
*.sqlite3
*.db

# Variables de entorno y configuración sensible
.env
secrets.env

# Configuración local del editor
.vscode/
